<!DOCTYPE html>
<html>
    <head>
        <meta charset="uft-8">
        <title>{{ pageTitle }}</title>
    </head>
    <body>
        {{> header }}
        <p>
            {{ welcomeMessage }}
        </p>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Dolor ullam voluptatibus, non sit quis adipisci dolorem nobis velit accusamus facilis.
        </p>

        {{> footer }}
    </body>
</html>